.pre-footer{
    margin-block-end: 0;
    padding-inline: 2rem;
    position: relative;
    z-index: 10;
    .wrapper{
        border-radius:15px;
        padding-block: 63px;
        h2{
            padding-block-end: 2rem;
        }
        p{
            padding-block-end:2rem;
        }
        .btn{
            margin-inline:auto;
        }
    }
}
footer{
    position:relative;
    text-align:center;
    &::after{
        content:"";
        position:absolute;
        bottom: 242px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--clr-dark-100);
        z-index: 0;
    }
    .wrapper{
        position: relative;
        z-index: 100;
    }
    a{
        text-decoration:none;
        color: var(--clr-light-100);
    }
    ul{
        list-style:none;
    }
    .footer-header{
        .logo{
            margin-inline:auto;
            padding-block: 60px 2rem; 
            max-width: unset;
            display: block;
            border-block-end: 1px solid var(--clr-light-100);
            img{
                max-width: 202px;
                margin-inline:auto;
            }
        }
        ul{
            margin-block-start: 2rem;
            a{
                padding: 1rem 0;
                display: block;
                text-transform:uppercase;
                font-weight: 300;
                letter-spacing:2px;
            }
        }
    }
}