.pre-footer{
    margin-block-end: 0;
    padding-inline: 2rem;
    position: relative;
    // top: 5rem;
    z-index: 10;
    .wrapper{
        padding-block: 2rem;
        border-radius:15px;
        h2{
            padding-block: 2rem;
        }
        p{
            padding-block-end:2rem;
        }
        .btn{
            margin-inline:auto;
        }
    }
}
footer{
    padding-block: 242px 5rem;
    position:relative;
    top: -200px;
    a{
        text-decoration:none;
        color: var(--clr-light-100);
    }
    ul{
        list-style:none;
    }
    .footer-header{
        padding-block: 1rem;
        border-block-end:2px solid var(--clr-light-200);
        margin-block-end: 1rem;
    }
}